version: '3.9'

services:
  vr-zone:
    image: vr-zone:latest
    container_name: vr-zone-app
    restart: unless-stopped
    ports:
      - "5001:5000"                # Flask на порту 5000
    env_file:
      - .env                       # Подхватывает BOT_TOKEN, CHAT_ID, SECRET_KEY
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production
    volumes:
      - ./instance:/app/instance   # Сохранение БД между перезагрузками
    working_dir: /app
    command: python app.py